.row {
   display: flex;
   flex-direction: column;
   flex: 1;   
}

.column {
    border: 1px solid black;
    flex: 1;
}

.grid {
    display: flex;
    border: 1px solid black;
    width: 800px;
    height: 800px;
}